<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" type="image/x-icon" href="/img/IMG-0404.jpg" />
    <title>{{ site.siteTitle }}</title>
  </head>

  <body class="{{ pageClass }}">
    <nav aria-label="Primary navigaton">
      <ul>
        {% for page in collections.page %}
        <li>
          <a href="{{ page.url | url }}">{{ page.data.navTitle }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>

    <div class="bg"></div>

    <!-- <header>
      <img src="/img/IMG-0404.jpg" />
    </header>
  -->

    <main tabindex="-1" class="content">
      <h1>{{ pageTitle }}</h1>
      {{ content }}
    </main>

    <script src="/js/scripts.js"></script>

    <footer>
      <div class="footer">
        <a
          href="https://www.facebook.com/jasoncastillo25"
          class="fa fa-facebook"
        ></a>
        <a href="https://www.linkedin.com" class="fa fa-linkedin"></a>
        <a href="https://twitter.com" class="fa fa-twitter"></a>
        <a href="https://www.snapchat.com" class="fa fa-snapchat"></a>
        <a
          href="https://www.instagram.com/lucidkid?utm_medium=copy_link"
          class="fa fa-instagram"
        ></a>
        <br />

        2022 | Made by Laynie 🤍 and
        <a href="https://www.11ty.dev">Eleventy</a>
      </div>
    </footer>
  </body>
</html>
